body {
    background-color: #222;
    color: #fff;
}

footer {
    text-align: center;
    margin-top: 5rem;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 40px;

}

.dark-bg {
    background-color: #333;
    padding: 1rem;
    border-radius: 0.25rem;
}




